body {
    margin: 0;
    height: 100vh;
    background-color: rgb(178, 215, 230);
    display: flex;
    justify-content: center;    /* Horizontally center */
    align-items: center;

}

.QrCodeCard {
    height: 400px;
    width: 250px;
    border-radius: 10px;
    background-color: white;
}

.image {
    height: 200px;
    width: 200px;
    margin: auto;

}

.image .QrCode {
    height: 200px;
    width: 200px;
    margin-top: 15px;
    border-radius: 10px;
}

.workspace {
    margin: 20px;
}
